/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 26, 2019, 4:50:31 PM
    Author     : ljordao-dev
*/
.visitor-menu{
    margin: auto;
}

.fa-middle {
    vertical-align: middle !important;
    font-size: 18px;
    
}
